.organization-list li {
    margin-left: 42px;
}
.organization-list img {
    margin: 8px;
    margin-bottom: -8px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
}
.organization-list h3 {
    margin: 0;
    margin-left: 8px;

    font-weight: normal;

    display: inline-block;
}

.hero {
    height: 175px;
}
.hero > figure {
    position: absolute;
    width: 100%;
    height: 384px;
    top: 0;
    left: 0;

    background: #cccccc;

    overflow: hidden;
}
.hero > figure img {
    height: 125%;
}
.hero-iPhone {
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: -128px;
    margin-bottom: 32px;
    width: 200px;
}
.hero-section {
    position: relative;
}
.hero-section h1 {
    font-size: 42px;
}
.hero-section h2 {
    font-weight: normal;
    color: #555555;
}

.feature-section {
    margin-top: 32px;
}
.feature-section ul.list {
    margin-left: 32px;
}
.feature-section .list li {
    padding: 2px;
}

.app-store-link img {
    height: 44px;
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 576px) {
    .hero-iPhone {
        margin-left: -128px;
        width: 256px;
    }
}

@media (min-width: 768px) {
    .hero {
        height: 144px;
    }
    .hero > figure {
        height: 350px;
    }
    .hero > figure img {
        height: auto;
        width: 100%;
        margin-top: -16%;
    }
    .hero-iPhone {
        float: left;
        left: initial;
        margin-top: -128px;
        margin-left: initial;
        margin-right: 36px;
        width: 256px;
    }

    .hero-section h1, .hero-section h2 {
        color: white;
        text-shadow: 0px 0px 24px black;
    }
    .feature-section ul.list {
        margin-left: 325px;
    }
}

@media (min-width: 992px) {
    .hero {
        height: 175px;
    }
    .hero > figure {
        height: 384px;
    }
    .hero-iPhone {
        width: 300px;
    }

    .feature-section ul.list {
        margin-left: 364px;
    }
}

@media (min-width: 1200px) {
    .hero-iPhone {
        width: 384px;
    }

    .feature-section ul.list {
        margin-left: 448px;
    }
}

@media (min-width: 1800px) {
    .hero > figure img {
        margin-top: -20%;
    }
}
